*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  padding: 0.5em 0;
  background-color: #00bb7c;
}

.header__wraps {
  width: 80%;
  margin: 0 auto;
}

.header__form {
  width: 100%;
  position: relative;
  padding: 0.5em 0;
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  background: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form-input {
  width: calc(100% - 40px);
  height: 100%;
  border: 0px;
  outline: none;
  font-size: 0.8125rem;
  line-height: 15px;
  color: #000;
  padding-left: 5px;
}

.header__profile__image {
  width: 2.2em;
  padding: 0.5em 0;
}

.header__settings {
  display: none;
}

.header__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.header__search-icon svg {
  height: 14px;
  width: 15px;
}

@media only screen and (min-width: 768px) {
  .header__wraps {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 2em;
  }

  .header__wraps {
    width: 40%;
    margin: 0;
  }

  .header__form-input::placeholder {
    font-size: 1em;
    line-height: 15px;
    color: #999999;
  }

  .header__settings {
    display: block;
  }

  .header__hamburger-icon {
    display: none;
  }

  .header__search-icon {
    color: #e6e6e6;
    opacity: 0.4;
  }
}
