* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unsubscribe {
  background-color: grey;
}

.unsubscribe .container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.unsubscribe .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  width: 60%;
  padding-bottom: 10px;
  border-radius: 10px;
  min-height: 80%;
  margin: auto auto;
  margin-top: 3%;
  margin-bottom: 20px;
}

.unsubscribe .content .header {
  background-color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #00bb7c;
  align-items: center;
}

.unsubscribe .content h1 {
  margin-left: 10px;
  font-size: 20px;
}

.unsubscribe .content p {
  font-size: 18px;
  margin: 10px 0;
}

.unsubscribe .content img {
  margin: 0 auto;
}

.unsubscribe .content .btn {
  display: flex;
  justify-content: space-around;
}

.unsubscribe .content .big {
  font-size: 30px;
  font-weight: 700;
}

.unsubscribe button {
  font-weight: bold;
  padding: 1.1em 1.5em;
  text-transform: capitalize;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #00bb7c;
  color: white;
  border-radius: 3px;
  margin: 10px auto;
  display: block;
}

.unsubscribe button:hover {
  background: #01b478;
}

.unsubscribed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background: #fff;
  width: 60%;
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  min-height: 80%;
  margin: auto auto;
  margin-top: 4%;
  margin-bottom: 20px;
}

.unsubscribe .unsubscribed img {
  margin: 0 auto;
  padding: 0;
  /* margin-bottom: 40px; */
}

.unsubscribe .unsubscribed p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .unsubscribe .content,
  .unsubscribe .unsubscribed {
    width: 90%;
  }

  .unsubscribe .unsubscribed p {
    font-size: 16px;
    /* display: none; */
  }
}

@media (max-width: 400px) {
  .unsubscribe .content,
  .unsubscribe .unsubscribed {
    width: 96%;
    margin-top: 46px;
  }

  .unsubscribe p {
    font-size: 16px;
    padding: 0 10px;
  }
  .unsubscribe .big {
    font-size: 18px;
  }

  .unsubscribe .header {
    justify-content: space-between;
  }
  .unsubscribe h1 {
    font-size: 14px;
  }
}
