/* Search Result Noticeboard Styling Start */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
.notice-heading p {
	font-size: 1.5em;
}

.user-notice {
	width: 85%;
	margin: 1.5em auto 0;
}

.user-notice-post {
	padding-bottom: 1em;
}

.user-notice-card {
	box-shadow: 0 0 0 2px hsl(0deg 0% 86% / 20%);
	border-radius: 3px;
	margin: 1em 0 2em;
	padding: 20px;
	background-color: white;
}

.user-notice-card .card-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-notice-card .card-top .avatar-grp {
	display: flex;
	align-items: center;
}

.user-notice-card .card-top .avatar-grp .avatar {
	height: 42px;
	width: 42px;
	background-color: rgb(195, 195, 195);
}

.notice-heading {
	font-weight: 900;
}

.user-notice-card .card-top .avatar-grp .avatar img {
	height: 42px;
	width: 42px;
}

.user-notice-card .card-top .avatar-grp .avatar-info {
	margin-left: 10px;
}

.user-notice-card .card-top .avatar-grp .avatar-info .avatar-name {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 8px;
}

.user-notice-card .card-top .avatar-grp .avatar-info .time-stamp {
	font-size: 12px;
	color: #999999;
	display: flex;
	align-items: center;
}

.card-top .avatar-grp .avatar-info .time-stamp .stamp-hour {
	display: flex;
	align-items: center;
}

.card-top .avatar-grp .avatar-info .time-stamp .stamp-hour::before {
	content: "";
	height: 5px;
	width: 5px;
	border-radius: 50%;
	display: block;
	background-color: #c4c4c4;
	margin: 0 6px;
}

/* Info icon styling */

.user-notice-card .card-top .info-icon {
	cursor: pointer;
	transition: all 0.3s ease;
}

/* Notice card body  */

.user-notice-card .card-body .notice-title {
	font-size: 14px;
	font-weight: 700;
	margin: 20px 0 8px;
}

.user-notice-card .card-body .notice-message {
	font-size: 14px;
	color: #999;
}

/* Notice Card button group */

.user-notice-card .card-buttons-grp {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.card-buttons-grp .view-icon-grp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card-buttons-grp .view-icon-grp .views-num {
	font-size: 10px;
}

.user-notice-card .card-buttons-grp .view-btn {
	outline: none;
	width: 8em;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #00bb7c;
	color: #00bb7c;
	font-weight: 400;
	background-color: white;
	text-transform: capitalize;
	transition: all 0.3s ease;
}

.user-notice-card .card-buttons-grp .view-btn:hover {
	background-color: #00bb7c;
	color: white;
}

/* overriding material-UI default relative position on buttons, so as to enable absolute positioning */

.MuiButtonBase-root {
	color: inherit;
	border: 0;
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	outline: 0;
	padding: 0;
	align-items: center;
	user-select: none;
	position: initial !important;
	border-radius: 0;
	vertical-align: middle;
	-moz-appearance: none;
	justify-content: center;
	text-decoration: none;
	background-color: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

/* Responsiveness for Search Result Notice Board */

@media screen and (min-width: 768px) {
	.user-notice {
		width: 85%;
		margin: 2.5em auto 0;
	}

	.user-notice-post {
		display: flex;
		flex-direction: column;
	}

	.user-notice-card {
		width: 100%;
		margin: 1em 0;
	}

	.sidebar {
		display: none;
	}

	.header_wraps {
		width: auto;
	}
}

@media screen and (min-width: 1024px) {
	.notice {
		width: 100%;
		margin: 1em auto 0;
	}

	.user-notice-post {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0 2em;
		margin-top: 1em;
	}
}

/* End of Search Result Styling */
