.successMessage {
  position: absolute;
  top: calc(100% - 15px);
  left: calc(100% - 15em);
  cursor: pointer;
  border: 1px solid #00bb7c;
  background-color: #fff;
}

.successMessage-text {
  color: #00bb7c;
}
