@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet');
.sidebar {
  flex: 0.2;
  color: white;
  background-color: #fff;
  border: 1px solid #cecece;
  height: 900px;
}
