@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

:root {
  --accent-color: hsla(160, 100%, 37%, 1);
  --main-black: hsla(0, 0%, 20%, 1);
  --main-gray: hsla(0, 0%, 60%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  color: var(--main-black);
}

.preloader {
  text-align: center;
  display: grid;
  place-items: center;
  flex-direction: column;
}

.fa-spinner {
  margin: 5rem 0 !important;
}

.logo {
  height: 200px;
}

.isLoading,
.fa-spinner {
  text-align: center;
  font-size: 2rem;
  margin: auto 0;
  padding: 0;
  color: var(--accent-color);
  display: grid;
  place-items: center;
  margin-top: 150px;
}

/* pinned notice nav */

.pinned-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 6px;
}

.pinned-button-container .pin-text {
  display: flex;
}

.pinned-button-container .text {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.pin-text img {
  /* border: 1px solid green; */
  width: 15px;
  height: 20px;
  margin-right: 10.6px;
}

.pinned-button-container .header-button {
  background: var(--accent-color);
  color: #fefefe;
  font-weight: bold;
  padding: 10px, 24px;
  width: 187px;
  height: 44px;
  text-transform: capitalize;
  font-size: 16px;
}

.header-button:hover {
  color: var(--main-black);
}

.pinned-button-container .header-button img {
  margin-left: 16px;
}

/* section with the cards */
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px 20px;
  justify-self: center;
  align-items: center;
}

section .card {
  border: 1px solid hsl(0, 0%, 95%);
  width: 22.438rem;
  height: 15.98rem;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 0 2px hsla(0, 0%, 86%, 0.2);
  padding: 16px;
  margin: 0 auto;
}

section .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .profile {
  display: flex;
}

section .img-profile-container {
  /* border: 2px solid red; */
  width: 42px;
  height: 42px;
  overflow: hidden;
}

section .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .identity {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 5px;
}

section .identity .name {
  /* font-size: 14px; */
  font-weight: 700;
  /* color: var(--main-black); */
}

section .identity .time-date {
  font-size: 12px;
  color: var(--main-gray);
  margin-top: 5px;
  word-spacing: 3px;
}

section .info-icon {
  /* border: 1px solid red; */
  padding: 10px;
  border-radius: 100%;
  /* background-color: hsla(160, 100%, 97%, 1); */
  transition: all 0.5s;
}

section .info-icon:hover {
  /* border: 1px solid red; */
  cursor: pointer;
  transform: scale(1.1);
}

/* card body */

section .card-body {
  margin-top: 20px;
  height: 6.5rem;
}

section .card-title {
  font-weight: 700;
  text-transform: capitalize;
}

section .card-info {
  margin: 6px 0 17px;
  font-size: 12px;
  color: var(--main-gray);
}

/* icon-tray and stuffs */
section .icon-button-tray {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

section .icon-tray {
  /* border: 1px solid red; */
  display: flex;
  width: 120.62px;
}

.icon-tray img {
  transition: all 0.4s;
}

.icon-tray img:hover {
  transform: scale(1.1);
}

section .icon-tray div {
  margin-right: 15px;
  text-align: center;
}

section .number {
  font-size: 8.51px;
}

section .card-button {
  width: 138px;
  height: 56px;
  border-color: var(--accent-color);
  /* padding: 14px 42px; */
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0 0 26 0 hsla(256, 90%, 84%, 0.25);
  transition: all 0.4s;
}

.card-button:hover {
  border: none !important;
  background-color: var(--accent-color) !important;
  color: #fefefe;
}

@media screen and (max-width: 1440px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}
