p {
  margin-bottom: 0px !important;
  font-size: 16px !important;
}

.preloader {
  text-align: center;
  display: grid;
  place-items: center;
  flex-direction: column;
}

.fa-spinner {
  margin: 5rem 0 !important;
}

.isLoading,
.fa-spinner {
  text-align: center;
  font-size: 2rem;
  margin: auto 0;
  padding: 0;
  color: #00bb7c;
  display: grid;
  place-items: center;
  margin-top: 150px;
}

.adminNotice-section {
  padding: 1em 0em;
}

.old-notice-container {
  width: 90%;
  margin: 0em auto 2em;
}

.oldNotice-title-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 5px rgba(220, 218, 226, 0.25);
  padding: 0.5em 1em;
  width: auto;
  margin-left: -1em;
  margin-right: -1em;
}

.old-notice-title {
  font-size: 1em;
}

.old-notice-back-button {
  padding: 0.8em 1.7em !important;
  background-color: #00bb7c;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.5em;
  border-radius: 8px;
}

.old-notice-back-button:hover {
  background-color: #00d38d;
}

.sort-oldNotice {
  position: relative;
  margin: 1em 0;
}

.sort-oldNotice-selected {
  color: #999999;
  cursor: pointer;
}

.sort-bold-oldNotice {
  color: #999999;
  font-weight: 600;
}

.sort-arrowDown-container-oldNotice {
  margin-left: 5px;
}

.sort-arrowDown-oldNotice {
  vertical-align: middle;
}

.sortMenu-oldNotice {
  position: absolute;
  min-width: 15em;
  top: 1.5em;
  left: 1em;
  background: #ffffff;
  box-shadow: 0px 0px 26px rgba(197, 178, 251, 0.25);
  border-radius: 3px;
  padding: 0.5em;
}

.sort-oldNotice-option {
  padding: 0.5em;
  color: #999999;
  font-size: 16px !important;
  margin-bottom: 0px !important;
}

.sort-oldNotice-option:hover {
  cursor: pointer;
}

.focus {
  color: #00bb7c;
}

.backImageOldNotice {
  vertical-align: middle;
}

.backImageOldNotice > img {
  width: 1.2em;
}

