*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-right: 30px;
}

.header__wraps {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 50px;
  align-items: center;
}

.header__form {
  width: 454px;
  height: 54px;
  position: relative;
  padding: 12px 13px;
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form p {
  position: absolute;
  top: 0;
  left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__form-input {
  width: calc(100% - 40px);
  border: 0px;
  outline: none;
  font-style: normal;
  color: #000;
  align-items: center;
  padding: 8px;
}

.header__form-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 15px;
  color: #999999;
  padding-left: 20px;
  align-items: center;
}

.header__profile {
  height: 42px;
  width: 39px;
  background-color: lightgreen;
  border-radius: 50%;
  border: 1px solid transparent;
}
<<<<<<< HEAD
.header__settings{
 color: #999999
}

.header__search-icon{
  color: #E6E6E6;
}
=======

.header__profile-image {
  height: 100%;
  width: 100%;
}

.header__settings {
  color: #999999;
}

.header__search-icon {
  color: #e6e6e6;
  opacity: 0.4;
  align-items: center;
  height: 20px;
  margin-top: 15px;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 20px;
  border: 1px solid #cecece;
  width: 100%;
}

.header__searchIcon {
  padding: 4px;
  height: 42px !important;
  background-color: none;
  color: #cecece !important;
}

.MuiSvgIcon-root {
  color: #cecece !important;
}
>>>>>>> f8a34e3fb11b6670a24b3b6648863578f4037f16
